.agencyContainer{
    width: 100%;
    aspect-ratio: 3/2 !important;
    background-size: cover;
    position: relative;
}
.videoHeroAgency {
    width: 100%;
    position: relative;
    top: 6vh;
}
.agencyContainer2 {
    background-color: var(--color-darkWhite);
    border-bottom: 3px var(--mainYellow) solid;
    padding: 5% 0;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.agencyItemsContainer {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.agencyTitle {
    display: flex;
    align-items: center;
}
.agencyTitle p {
    font-size: 9px;
}
.costaneraAgency {
    width: 100px;
    position: absolute;
    top: 90%;
    right: 5px;
}
.boxContainerAgency {
    padding: 5% 10%;
}
#agencySubtitle {
    margin: 0;
}
.agencyContactDiv {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
}
.agencyItemsContainer .touristHomeItem {
    margin-top: 8%;
}

.agencyContactLinksDiv {
    display: flex;
    flex-direction: column;
}
@media(min-width:700px){
    .agencyTitle p {
        font-size: 10px;
    }
    .agencyItemsContainer {
        justify-content: space-around;
        flex-direction: row;
        width: 100%;
    }
    .agencyContainer2 {
        padding: 5% 10%;
    }
    .agencyContactDiv {
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        margin-top: 35px;
    }
    .agencyContactLinksDiv {
        display: flex;
        flex-direction: column;
    }
    .costaneraAgency {
        width: 250px;
    }
}
@media(min-width:1000px) {
    
    .videoHero {
        aspect-ratio: 16 / 9 !important;
    }
    .agencyTitle p {
        font-size: 12px;
    }
    .agencyItemsContainer .touristHomeItem {
        margin: 3% 0;
    }
}