.eventsContainer {
    width: 100%;
    aspect-ratio: 3/2 !important;
    background-image: url('../../assets/eventshero.jpg');
    background-size: cover;
    position: relative;
}
.eventsBoxCookiesSeparator {
    border-top: 3px var(--mainYellow) solid;
    background-color: var(--color-darkWhite);
    padding: 5% 9%;
}
.eventsBoxContainer {
    padding: 0% 6%;
}
.eventsH4Title {
    width: 85%;
    margin: 8% auto;
}
.itemsEventsContainer {
    display: flex;
    justify-content: center;
    align-items: flex-start; 
    flex-wrap: wrap;
    flex-direction: row;
}
.itemsEventsContainer .reservarButton {
    margin: 6%;
}
.itemsEvents p {
    font-size: 9px;
    font-weight: 500;
}
.itemsEvents {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    margin-top: 5px;
    width: 50%;
}
.itemImg {
    width: 15px;
    margin-right: 5px;
}
@media(min-width:700px) {
   
    .eventsH4Title {
        width: 90%;
        margin: 5% auto;
        padding: 0;
    }
    .itemsEventsContainer {
        width: 67vw;
        margin: auto;
        margin-bottom: 4%;
    }
    .itemsEvents p {
        font-size: 12px;
    }
    .itemsEvents {
        margin-top: 10px;
        width: 45%;
    }
    .itemImg {
        width: 18px;
        margin-right: 8px;
    }
}


@media(min-width:1000px) {
    .eventsBoxCookiesSeparator {
        border-top: 4px var(--mainYellow) solid;
        background-color: #000000B2;
        padding: 3% 4%;
        padding-left: 10%;
        transform: translateY(-100%) translateX(0%);
    }
    .eventsContainer {
        aspect-ratio: 16 / 9 !important;
    }
    .eventsH4Title {
        width: fit-content;
    }
    .itemsEvents p {
        font-size: 15px;
    }
    
    .itemsEvents {
        margin-top: 14px;
    }
    
}

@media(min-width:1200px) {
    .itemsEventsContainer {
        width: 56vw;
    }
    .eventsH4Title {
        margin: 4% auto;
    }
    .eventsContainer {
        aspect-ratio: unset !important;
        height: 99vh;
        background-position-y: 55%;
    }
    .eventsBoxCookiesSeparator {
        width: 92%;
    }
}
@media (min-width: 1400px) {
    .itemsEvents {
        margin-top: 20px;
        width: 40%;
    }
}
@media(min-width:1800px) {
    .itemsEvents p {
        font-size: 17px;
        width: 15vw;
    }
    .itemsEventsContainer {
        width: 40vw;
        justify-content: space-between;
    }
    
}