.eventsContainer {
    width: 100%;
    aspect-ratio: 3/2 !important;
    background-image: url('../../assets/eventshero.jpg');
    background-size: cover;
    position: relative;
}
.eventsBoxCookiesSeparator {
    border-top: 3px var(--mainYellow) solid;
    background-color: var(--color-darkWhite);
    padding: 5% 9%;
}
.eventsBoxContainer {
    padding: 0% 10%;
}
.eventsH4Title {
    width: 85%;
    margin: 8% auto;
}
.itemsEventsContainer {
    display: flex;
    justify-content: center;
    align-items: flex-start; 
    flex-wrap: wrap;
    flex-direction: row;
}
.itemsEventsContainer .reservarButton {
    margin: 6%;
}
.itemsEvents p {
    width: 32vw;
    font-size: 9px;
}
.group1,
.group2 {
    flex: 1;
    display: flex;
    flex-direction: row;
    gap: 2px;
}

@media(min-width:700px) {
    .eventsBoxCookiesSeparator {
        background-color: #000000B2;
        padding: 3% 4%;
        transform: translateY(-100%) translateX(0%);
    }
    .eventsH4Title {
        width: 90%;
        margin: 5% auto;
        padding: 0;
    }
    .itemsEventsContainer {
        width: 67vw;
        margin: auto;
        margin-bottom: 4%;
    }
    .itemsEvents p {
        width: 26vw;
        font-size: 12px;
    }
    /* !!!!!! */
    .itemsEvents p {
        width: 28vw;
    }
    .group1, .group2 {
        margin: 0px 3%;
    }
    .eventsBoxCookiesSeparator {
        border-top: 4px var(--mainYellow) solid;
    }
}


@media(min-width:1000px) {
    
    .eventsContainer {
        aspect-ratio: 16 / 9 !important;
    }
    .eventsH4Title {
        width: fit-content;
    }
    .itemsEvents p {
        font-size: 15px;
    }
    
    
    .itemsEventsContainer {
        width: 66vw;
    }
}

@media(min-width:1200px) {
    .itemsEvents p {
        width: 19vw;
    }
    .itemsEventsContainer {
        width: 54vw;
    }
    .eventsH4Title {
        margin: 4% auto;
    }
    .eventsContainer {
        aspect-ratio: unset !important;
        height: 100vh;
        background-position-y: 55%;
    }
}