.accommodationsContainer {
    width: 100%;
    aspect-ratio: 3/2 !important;
    background-image: url('../../assets/alojamientoshero.jpg');
    background-size: cover;
    position: relative;
}
.accomodationsContainer2 {
    padding: 8% 8% 0 8%;
    margin: auto;
    background-color: var(--color-lightWhiteText);
}
.alojamientoItem {
    width: 49%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 5%;
}
.accommodationsItemsContainer {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-top: 5%;
    flex-wrap: wrap;
    flex-direction: row;
}
.alojamientoImage {
    aspect-ratio: 1/1 !important;
    border: 2px solid var(--mainYellow);
    border-radius: 5px;
    width: 90%;
}
.alojamientoP {
    margin: auto;
    text-align: center;
    font-family: 'Nokora';
    font-size: 11px;
    font-weight: 700;
    line-height: 20px;
    text-align: center;
}
.alojamientosInfoContainer {
    padding: 7% 2.5%;
}
.alojamientosInfoContainer h6 {
    font-weight: 700;
    font-size: 11px;
}
.accommodationsIconsDiv {
    display: flex;
    width: 69%;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;
}
.accommodationsIconsDiv img {
    margin: 2.5px;
    width: 20px;
}
.ourInstalationsBigContainer {
    padding: 7% 0 2%;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
}

.ourTouristsContainerAlojamientos {
    background-color: #D9D9D94A;
    display: flex;
    flex-wrap: wrap;
    border-top: 3px var(--mainYellow) solid;
    border-bottom: 3px var(--mainYellow) solid;
    padding: 10%;
}
.ourTouristsContainerAlojamientos .box {
    margin-bottom: 7%;
}
.lastTextAccommodations {
    text-align: center;
}
.ourTouristsContainerAlojamientos ul {
    padding-left: 2em;
}
.ourTouristsContainerAlojamientos li {
    padding: 5px 0;
}

.popupOverlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.popupContent {
    position: relative;
    text-align: center;
}
  
.carousel {
    display: flex;
    align-items: center;
    justify-content: center;
}
  
.carouselImage {
    width: 70%;
    aspect-ratio: 1/1 !important;
    object-fit: cover;
    border-radius: 5px;
    z-index: 5;
    border: 2px solid var(--mainYellow);
}
  
.prev,
.next {
    background: none;
    border: none;
    font-size: 2rem;
    color: #f4c542;
    cursor: pointer;
}
  
.closeButton {
    position: absolute;
    top: 10px;
    right: 10px;
    border: none;
    color: white;
    font-size: 1.5rem;
    cursor: pointer;
    border-radius: 50%;
    padding: 5px 10px;
}
  
.nextImage {
    scale: 0.9;
    opacity: 0.7;
    margin-left: -82%;
    z-index: 1;
}
.prevImage {
    scale: 0.9;
    opacity: 0.7;
    z-index: 1;
    margin-right: -82%;
}