.linksContainer {
    position: fixed;
    top: 26vh;
    left: 0;
    padding: 5px;
    z-index: 10;
}

.linkStar {
    display: flex;
    align-items: center;
    text-decoration: none;
}
.linkStar img {
    width: 35px;
    z-index: 50;
}
.linkStarP {
    background-color: #F6F6F6;
    color: #BD9500;
    font-family: 'Nokora';
    font-size: 9px;
    font-weight: 700;
    height: fit-content;
    padding: 1px 7px 0px 10px;
    margin-top: 6px;
    border-radius: 25px;
    position: relative;
    right: 13px;
    opacity: 0;
    text-decoration: none;
    transform: translateY(10px);
    transition: opacity 0.5s ease, transform 0.5s ease;
}
.linkStar:hover .linkStarP {
    transform: translateY(0px);
    opacity: 1;
}
.linkWsp {
    background-color: var(--mainYellow);
    width: 25px;
    height: 25px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 5px;
    margin-top: 4px;
}
.linkWsp img {
    width: 16px;
}
.linkStarP.show {
    opacity: 1;
    transform: translateY(0);
}

.linkStarP.hide {
    opacity: 0;
    transform: translateY(10px);
}

@media(min-width:700px) {
    .linksContainer {
        top: 40vh;
    }
    .linkWsp img {
        width: 21px;
    }
    .linkWsp {
        width: 35px;
        height: 35px;
        margin-top: 8px;
    }
    .linkStarP {
        padding: 1px 7px 0px 15px;
        right: 15px;
        font-size: 10px;
    }
    .linkStar img {
        width: 40px;
        z-index: 50;
    }
}
@media(min-width:1000px) {
    .linksContainer {
        top: 33vh;
        padding-left: 20px;
    }
    .linkWsp img {
        width: 25px;
    }
    .linkWsp {
        width: 40px;
        height: 40px;
        margin-top: 10px;
    }

    .linkStar img {
        width: 45px;
        z-index: 50;
    }
    .linkStarP {
        font-size: 11px;
        right: 18px;
    }
}
@media(min-width:1200px) {
    .linksContainer {
        top: 75vh;
        padding-left: 20px;
    }
    .linkWsp img {
        width: 25px;
    }
    .linkWsp {
        width: 40px;
        height: 40px;
        margin-top: 10px;
    }

    .linkStar img {
        width: 55px;
        z-index: 50;
    }
    .linksContainer.hidden {
      opacity: 0;
      visibility: hidden;
    }

    .linkStarP {
        font-size: 13px;
        margin-top: 9px;
        right: 20px;
    }
    .top75 {
        top: 84vh;
    }
    
    .top50 {
        top: 65vh;
    }
  
    .opacity0 {
        opacity: 0;
    }
}
@media(min-width:1400px)  {

    .top75 {
        top: 82vh;
    }
    
    .top50 {
        top: 60vh;
    }
}
@media(min-width:1800px) {
    .linksContainer {
        padding-left: 30px;
    }
    .linkWsp img {
        width: 35px;
    }
    .linkWsp {
        width: 50px;
        height: 50px;
        margin-top: 10px;
        margin-left: 10px;
    }

    .linkStar img {
        width: 70px;
        z-index: 50;
    }
    .linkStarP {
        font-size: 14px;
        margin-top: 7px;
    }
}