.homeContainer {
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    aspect-ratio: 3/2 !important;
}
.videoHero {
    object-fit: cover;
    aspect-ratio: 3 / 2 !important;
    top: 0;
    width: 100%;
    position: relative;
}
.logoHero {
    width: 60%;
    position: absolute;
    top: 5%;
    right: 20%;
}
.aboutUsHomeContainer {
    background-color: #F6F6F6;
    padding: 5% 10%;
    border-top: 3px var(--mainYellow) solid;
    border-bottom: 3px var(--mainYellow) solid;
}
.homeContainer2 {
    background-color: #F1F1F1;
    padding: 5% 10%;
}
.touristImagesHomeContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.touristTitlesHome {
    font-family: 'Nokora', sans-serif;
    font-size: 9px;
    border-radius:  0 0 10px 10px;
    height: 20px;
    display: flex;
    background-color: var(--mainYellow);
    justify-content: center;
    align-items: center;
    font-weight: 700;
}
.touristHomeItem {
    background-color: var(--mainYellow);
    border-radius: 10px;
    color: white;
    margin-top: 4%;
    text-decoration: none;
}
.touristHomeItem img {
    aspect-ratio: 1 / 1 !important;
    object-fit: cover;
    border-radius: 10px 10px 0 0;
    width: 37vw;
}

#reviewsContainerYellow {
    background-color: var(--mainYellow);
    padding: 50px 0 40px;
    
    z-index: 100;
    position: relative;
}
.go2048136271 {
    display: none !important;
}
#trustmary-widget, .go2115419360 {
    padding: 0!important;
    /* margin-top: -285px !important; */
    font-size: 9px !important;
}

@media(min-width:700px) {
    .aboutUsHomeContainer, .homeContainer2 {
        padding: 5% 10%;
    }
    .touristImagesHomeContainer {
        flex-direction: row;
        justify-content: space-between;
        justify-content: space-around;
    }
    .touristHomeItem img {
        width: 24vw
    }
    .touristTitlesHome {
        font-size: 11px;
        height: 25px;
    }
    
    #reviewsContainerYellow {
        padding: 65px 0 40px;
    }
    #trustmary-widget, .go2115419360 {
        font-size: 13px !important;
    }
    
    .aboutUsHomeContainer {
        border-top: 4px var(--mainYellow) solid;
        border-bottom: 4px var(--mainYellow) solid;
    }
}
@media(min-width:1000px) {
    .homeContainer {
        aspect-ratio: 16 / 9 !important;
    }
    .videoHero {
        aspect-ratio: 16 / 9 !important;
    }
    .logoHero {
        width: 50%;
        right: 25%;
    }
    .touristHomeItem img {
        width: 22vw;
    }
    .touristImagesHomeContainer {
        justify-content: space-evenly;
    }
    .touristTitlesHome {
        font-size: 14px;
        height: 30px;
    }
    #trustmary-widget, .go2115419360 {
        font-size: 14px !important;
    }
}

@media(min-width:1200px){
    .logoHero {
        width: 30%;
        right: 35%;
        top: 20%;
    }
    .touristImagesHomeContainer {
        padding: 0 2%;
    }
    .touristTitlesHome {
        font-size: 15px;
        height: 35px;
    }
    #trustmary-widget, .go2115419360 {
        font-size: 15px !important;
    }
    .homeContainer {
        aspect-ratio: unset !important;
    }
    .videoHero {
        max-height: 99vh;
    }
}
@media(min-width:1400px) {

    .touristTitlesHome {
        font-size: 15px;
        height: 36px;
    }
    #trustmary-widget, .go2115419360 {
        font-size: 15px !important;
    }
}
@media(min-width:1800px) {
    
    .touristImagesHomeContainer {
        padding: 0px 7%;
    }    
    .touristHomeItem img {
        width: 20vw;
    }    
    .touristTitlesHome {
        font-size: 17px;
        height: 40px;
    }
}