.reviews-container {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #F5C30B;
    padding: 20px;
    height: 130px;
}

.review-card {
    background-color: white;
    padding: 16px;
    border-radius: 15px;
    max-width: 600px;
    width: 80%;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    transition: opacity 0.5s ease-in-out;
}

.review-text {
    font-size: 11px;
    font-style: italic;
    height: 30px;
}

.review-footer {
    display: flex;
    align-items: center;
    margin-top: 10px;
}

.review-avatar {
    width: 25px;
    height: 25px;
    /* background-color: #ddd; */
    border-radius: 50%;
    margin-right: 10px;
}

.review-author {
    font-weight: bold;
    color: #000;
}