.contactContainer {
    width: 100%;
    aspect-ratio: 3/2 !important;
    background-image: url('../../assets/contacthero.jpg');
    background-size: cover;    
    position: relative;
}
.googleMapIframe, #mapDiv {
    margin: auto !important;
    border-radius: 7px;
    border: 2px solid var(--mainYellow) !important;
    height: 180px;
}
.contactContainer2 {
    background-color: var(--color-darkWhite);
    border-bottom: 3px var(--mainYellow) solid;
    border-top: 3px var(--mainYellow) solid;
    padding: 0% 15%;
}
.contactDirection {
    text-align: center;
    margin: 1rem;
}
.mailContact {
    text-decoration: underline;
    font-size: 10px;
}
.mailContactDescription {
    line-height: 15px;
    font-size: 10px;
}
.contactContainer3 .contactTitle {
    margin: 1em 0;
}
.contactContainer3 .reservarButton {
    margin: 10% auto 12%;
    display: flex;
    padding: 5px 11.5px;
}
@media(min-width:700px){
    
    .contactContainer2 {
        border-bottom: 4px var(--mainYellow) solid;
        border-top: 4px var(--mainYellow) solid;
    }
    .contactDirection {
        margin: 2rem 0 1.5em 0;
        font-size: 15px;
    }
    .googleMapIframe, #mapDiv {
        height: 280px;
        border-radius: 10px;
    }
    .mailContact, .mailContactDescription {
        font-size: 15px;
        line-height: 20px;
    }
    .contactContainer3 .reservarButton {
        margin: 8% auto 8%;
        font-size: 15px;
    }
}
@media(min-width:1000px) {
    
    .contactContainer {
        aspect-ratio: 16 / 9 !important;
    }

}