.contactContainer {
    width: 100%;
    aspect-ratio: 3/2 !important;
    background-image: url('../../assets/contacthero.jpg');
    background-size: cover;    
    position: relative;
}
.googleMapIframe, #mapDiv {
    margin: auto !important;
    border-radius: 7px;
    border: 2px solid var(--mainYellow) !important;
    height: 180px;
}
.contactContainer2 {
    background-color: var(--color-darkWhite);
    border-bottom: 3px var(--mainYellow) solid;
    border-top: 3px var(--mainYellow) solid;
    padding: 0% 15%;
}
.contactDirection {
    text-align: center;
    margin: 1rem;
}
.mailContact {
    text-decoration: underline;
    font-size: 10px;
}
.mailContactDescription {
    line-height: 15px;
    font-size: 10px;
}
.contactContainer3 .contactTitle {
    margin: 1em 0;
}
.contactContainer3 .reservarButton {
    margin: 11% auto 12%;
    display: flex;
    padding: 5px 11.5px;
    width: fit-content;
}
.contactContainer .logoHero {
    top: 10%;
}
.contactIconsSocialContainer {
    display: flex;
}
.contactSocialContainer {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.contactCircleIcons {
    background-color: white;
    margin: 3px;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.contactLinksIcons {
    width: 20px;
}
@media(min-width:700px){
    
    .contactContainer2 {
        border-bottom: 4px var(--mainYellow) solid;
        border-top: 4px var(--mainYellow) solid;
    }
    .contactDirection {
        margin: 2rem 0 1.5em 0;
        font-size: 15px;
    }
    .googleMapIframe, #mapDiv {
        height: 280px;
        border-radius: 10px;
    }
    .mailContact, .mailContactDescription {
        font-size: 15px;
        line-height: 20px;
    }
    .contactContainer3 .reservarButton {
        margin: 8% auto 8%;
        font-size: 15px;
    }
}
@media(min-width:1000px) {
    
    .contactContainer {
        aspect-ratio: 16 / 9 !important;
        background-position-y: 25%;
    }

}
@media(min-width:1200px){
    .contactContainer .logoHero {
        top: 20%;
    }
    .contactContainer {
        background-position-y: 35%;
        aspect-ratio: unset !important;
        height: 99vh;
    }
    .contactContainer2 {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 50px 150px;
        padding: 4% 15%;
    }
    
    .contactContainer2 > .contactDirection {
        grid-column: 1;
        grid-row: 1;
        text-align: left;
        margin: auto 0;
    }
    
    .contactContainer2 > .googleMapIframe {
        grid-column: 2;
        grid-row: 1 / 4;
    }
    
    .contactContainer2 > .contactContainer3 {
        grid-column: 1;
        grid-row: 2;
    }
    .mailContactDescription {
        font-size: 11px;
    }
    .contactContainer3 .reservarButton {
        display: none;
    }

    .googleMapIframe, #mapDiv {
        height: 320px;
    }
}
@media(min-width:1400px) {

    .googleMapIframe, #mapDiv {
        height: 380px;
    }
}
@media(min-width:1800px) {
    .contactContainer2 {
        padding: 4% 18%;
    }
    .googleMapIframe, #mapDiv {
        height: 410px;
    }
    .mailContact, .contactDirection {
        font-size: 17px;
    }
    .mailContactDescription {
        font-size: 11px;
        line-height: 22px;
    }
}