.navbarContainer {
    display: flex;
    background-color: var(--color-darkWhite);
    justify-content: space-between;
    align-items: center;
    padding: 1% 4%;
    top: 0;
    z-index: 100;
    position: fixed;
    width: 92%;
    height: 40px;
}
.logoNavbarA, .logoNavbar {
    width: 80px;
}
.navbarOptionsContainer{
    color: black;
    width: 100%;
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 40px;
    left: 0;
    background-color: var(--mainYellow);
}
.navbarOptions {
    padding: 15% 9% 25%;
    display: flex;
    flex-direction: column;
}
.navbarOptions a {
    color: white;
    z-index: 100;
    text-decoration: none;
    width: fit-content;
    padding-bottom: 4%;
    white-space: nowrap;
    font-size: 12px;
    font-weight: 700;
    line-height: 13.41px;
    text-align: left;
}

a:focus {
    font-weight: 500;
} 
a:hover {
    font-weight: 500;
}
.activeNavbar {
    font-weight: 600 !important;
}

.navbarContainerOpenMenu {
    background-color: var(--mainYellow);
}
.bookNavbar {
    color: var(--mainYellow) !important;
    background-color: white;
    width: fit-content;
    padding: 6px 10px !important;
    border-radius: 15px;
    margin-left: -8px;
}

@media(min-width:700px) {
    .navbarContainer {
        height: 50px;
    }
    .logoNavbarA, .logoNavbar {
        width: 180px;
    }
    .navbarOptions {
        padding: 13% 9% 20%;
    }
    .navbarOptions a {
        font-size: 16px;
    }
    .bookNavbar {
        padding: 8px 12px !important;
        margin-left: -10px;
    }
    .navbarOptionsContainer {
        top: 50px;
    }
}

@media(min-width: 1200px) {
    .logoNavbarA, .logoNavbar {
        width: 130px;
    }

    .navbarContainer{
        height: 50px;
    }
    .navbarOptionsContainer {

        width: 65%;
        position: unset;
        height: unset;
        z-index: unset;
        top: unset;
        right: unset;
        padding: unset;
        background: unset;
    }
    .navbarOptions {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding: 0;
        align-items: center;
        
    }
    .navbarOptions a{
        font-size: 14px;
        font-weight: 500;
        margin: 0;
        padding: 0;
        height: 12px;
        text-align: center;
        cursor: pointer;

    }
    .menuNavbarIconsContainer {
        display: none;
    }
}