.winesContainer {
    width: 100%;
    aspect-ratio: 3/2 !important;
    background-image: url('../../assets/wineshero.jpg');
    background-size: cover;
    position: relative;
}
.winesLogoImage {
    width: 100px;
    position: absolute;
    top: 75%;
    right: 5px;
}
.descriptionItemText{
    font-size: 7px !important;
}
.boxContainerWines {
    padding: 6% 10%;
}
.contactBoxWine {
    width: fit-content;
    margin: 40px auto 0 auto;
}
.winesEventsContainer {
    margin: 9% 0;
    font-weight: 500;
}
.contactBoxWine .contactTitle {
    margin-bottom: 15px;
}

@media(min-width: 700px) {
    
    .winesEventsContainer {
        margin: 9% auto;
        width: 71vw;
    }
    .descriptionItemText {
        font-size: 9px !important;
    }
    .itemsEvents p {
        width: 28vw;
    }
}

@media(min-width:1000px) {
    
    .videoHero {
        aspect-ratio: 16 / 9 !important;
    }
}