.winesContainer {
    width: 100%;
    aspect-ratio: 3/2 !important;
    background-image: url('../../assets/wineshero.jpg');
    background-size: cover;
    position: relative;
}
.winesLogoImage {
    width: 100px;
    position: absolute;
    right: 5px;
    bottom: 0px;
}
.descriptionItemText{
    font-size: 7px !important;
    font-size: 5px !important;

}
.boxContainerWines {
    padding: 6% 10%;
}
.contactBoxWine {
    width: fit-content;
    margin: 40px auto 0 auto;
}
.winesEventsContainer {
    margin: 9% 0;
    font-weight: 500;
}
.contactBoxWine .contactTitle {
    margin-bottom: 15px;
}

@media(min-width: 700px) {
    .winesLogoImage {
        width: 220px;
    }    
    .winesEventsContainer {
        margin: 9% auto;
        width: 71vw;
    }
    .descriptionItemText {
        font-size: 9px !important;
    }
}

@media(min-width:1000px) {
    .winesLogoImage {
        width: 250px;
    }
    .winesContainer  {
        aspect-ratio: 16 / 9 !important;
    }
}

@media(min-width: 1200px) {
    .winesContainer {    
        aspect-ratio: unset !important;
        height: 99vh;
        background-position-y: 55%;
    }
    .boxContainerWines {
        display: flex;
        flex-wrap: wrap;
        align-items: flex-end;
        padding: 4% 13%;
    }
    .boxContainerWines .box {
        width: 100%;
        margin-bottom: 3%;
    }
    .winesEventsContainer {
        width: 60vw;
        margin: 0% auto;
    }
    .winesLogoImage {
        width: 300px;
    }
}
@media(min-width: 1400px) {
    .descriptionItemText {
        font-size: 10px !important;
    }
}
@media(min-width: 1800px) {

    .winesLogoImage {
        width: 400px;
    }
    .descriptionItemText {
        font-size: 11px !important;
    }
}