.footerContainer {
    padding: 4%;
    background-color: var(--color-darkWhite);
    width: 92%;
    font-size: 8px;
}
.logoFooter {
    width: 30%;
}
.infoFooterContainer {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 4% 1% 2%;
}