* {
  margin: 0;
}
body {
  margin: 0;
  min-width: 320px;
  min-height: 99vh;
  font-family: 'Montserrat Variable', sans-serif;
  font-size: 11px;
}

h1, h4 {
  font-family: 'Nokora', sans-serif;
  font-size: 12px;
}

:root {
  --mainYellow: #F5C30B;
  --color-lightWhiteText:#F6F6F6;
  --color-darkWhite: #F1F1F1;
  /* black 000 */
}

.box {
  position: relative;
  padding: 2%;
  padding-left: 2px;
}
.box::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 4px;
  background-color: var(--mainYellow);
  border-radius: 10px; 
}
.box p {  
  margin: 0em 1em;
}
.box h4 {
  margin: 0em 1em;
  line-height: 17px;
}
.reservarButton {
  font-family: 'Montserrat Variable', sans-serif;
  font-size: 11px;
  font-weight: 600;
  padding: 2px 15px;
  line-height: 20px;
  text-align: center;
  background-color: var(--mainYellow);
  color: var(--color-darkWhite);
  border-radius: 20px;
  border: none;
}

.boxCookies {
  padding: 0 5%;
  text-align: center;
}
.boxCookies button {
  display: none;
  font-family: 'Montserrat Variable', sans-serif;
}

.boxContainer {
  background-color: #F6F6F6;
  padding: 11%;
  border-top: 3px var(--mainYellow) solid;
  border-bottom: 3px var(--mainYellow) solid;
}

.contactTitle {
  color: var(--mainYellow);
  font-family: 'Nokora';
  font-weight: 700;
  line-height: 6.61px;
  position: relative;
  padding: 13px 16px;
}

.contactTitle::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 5px;
  background-color: var(--mainYellow);
  border-radius: 10px; 
}

.contactLinkButton {
  font-size: 10px;
  font-weight: 600;
  padding: 5px 15px;
  line-height: 20px;
  text-align: center;
  background-color: var(--mainYellow);
  color: var(--color-darkWhite);
  border-radius: 20px;
  border: none;
  text-decoration: none;
  margin: 4px;
}
@media(min-width:700px) {

  body {
    font-size: 13px;
  }
  
  h1, h4 {
    font-size: 16px;
  }
  .box {
    padding: 1%;
    padding-left: 2px;
  }
  .box h4 {
    line-height: 30px;
    margin: 0 15px;
  }
  .box p {
    margin: 0 15px;
  }
  .box::before {
    width: 6px;
  }
  .boxCookies {
    background-color: #000000B2;
    color: white;
    font-size: 12.5px;
    width: 92%;
    position: absolute;
    transform: translateY(-108%) translateX(-5%);
    padding: 3% 5%;
    border-top: 3px solid var(--mainYellow);
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  .boxCookies button, .reservarButton {
    font-size: 13px;
    font-weight: 600;
    padding: 4px 20px;
    line-height: 20px;
    text-align: center;
    background-color: var(--mainYellow);
    color: var(--color-darkWhite);
    border-radius: 20px;
    border: none;
    display: unset;
  }
  .boxCookies p {
    width: 80%;
    text-align: left;
  }
  .tabletOff {
    display: none;
  }
  .contactTitle {
    font-size: 15px;
    padding: 14px 20px;
  }
  .contactLinkButton {
    font-size: 13px;
    padding: 8px 15px;
    margin: 0 0 8px 0;
  }
  .contactBoxWine .contactTitle {
    margin-bottom: 25px;
  }
  
  .boxContainer {
    border-top: 4px var(--mainYellow) solid;
    border-bottom: 4px var(--mainYellow) solid;
  }
}

@media(min-width:1000px) {
  .boxCookies {
    width: 91%;
    font-size: 15px;
  }
  body {
    font-size: 15px;
  }
  
  h1, h4 {
    font-size: 19px;
  }    
  .boxCookies button, .reservarButton {
    font-size: 18px;
    padding: 7px 25px;
  }
  .contactLinkButton {
    font-size: 12px;
  } 
}


@media(min-width:1200px) {
  body {
    font-size: 14px;
  }
  .box::before {
    width: 13px;
  }
  .smallerSeparatorBox::before {
    width: 9px;
  }
  
  .contactTitle::before {
    width: 9px;
  }

  h4 {
    font-size: 23px;
    line-height: 40px;
  }
  .box h4 {
    line-height: 40px;
    margin: 0 25px;
  }
  .box p {
    margin: 0 0 0 25px;
  }
  .boxCookies {
    width: 91%;
    transform: translateY(-110%) translateX(-11%);
  }
  .boxCookies button, .reservarButton {
    font-size: 20px;
    padding: 10px 25px;
  }
}

@media(min-width:1400px) {
  body {
    font-size: 15px;
  }
  h4 {
    font-size: 25px;
  }

}
@media(min-width:1800px) {
  body {
    font-size: 18px;
  }
  .box h4 {
    line-height: 2;
    margin: 0 30px;
  }
  .box p {
    margin: 0 0 0 30px;
  }
  .boxCookies {
    font-size: 18px;
    width: 85%;
    padding: 2.5% 8%;
    line-height: 23px;
  }
  .contactLinkButton {
    font-size: 14px;
  }
  .contactTitle{
    font-size: 17px;
  }
}